* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: black;
    color: white;
    min-height: 100%;
    margin: 0;
    text-align: center;
}

.cd-container {
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    margin-bottom: -10px;
    font-size: 11vw;
    font-weight: 700;
}

h2.subtitle {
    font-size: 4vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.6vw;
}

h3 {
    text-transform: uppercase;
}

.controller-img {
    margin: -5vh 0;
    width: 100%;
    z-index: -1;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.big-text {
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    margin: 1vw;
    font-family: 'Roboto Mono', monospace;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 5vw;
    font-weight: 100;
}

div.buttons {
    margin-top: -30px;
    display: none;
}

svg {
    max-width: 20vw;
    transition: all .5s;
}

svg:hover {
    -webkit-filter: drop-shadow(0px 0px 10px blue);
    filter: drop-shadow(0px 0px 10px blue);
    max-width: 150px;
    transform: scale(1.5rem);
    transition: all .5s;
}

a {
    text-decoration: none;
}

.spec-info img {
    max-width: 50vw;
    margin: 20px 0px;
}

ul {
    background: white;
    color: black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
}

li {
    margin-bottom: 13px;
}

.spec-info {
    font-size: 5vw;
    text-align: center;
}

.games-container {
    display: flex;
    justify-content: space-evenly;
  }

  .game {
    max-width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all .5s;
  }

  .game:hover {
    max-width: 400px;
    transform: scale(1.5rem);
    transition: all .5s;
  }

  .game img {
    max-height: 400px;
  }

  .game h1 {
    position: relative;
  }

  .game-info {
    text-align: center;
  }

  .game-info h2 {
    text-transform: uppercase;
    margin-bottom: -10px;
    font-size: 1.3rem;
  }

  .game-info p {
    font-size: 1rem;
    top: -10;
    margin-bottom: 110px;
  }

  .feature {
    display: flex;
  }

  .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature .left img {
    max-width: 100px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .right .info {
      min-width: 450px;
      text-align: left;
  }

  .right {
    max-width: 500px;
  }

  .email-section {
      max-width: 400px;
  }

  #email-sub {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      padding: 20px;
  }

  #email-sub input[type="email"] {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
  }

  #email-sub input[type="submit"] {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    text-transform: capitalize;
    border: none;
  }

  .square-mbl {
    margin-top: 50px;
    padding: 20px;
}

.square-mbl img {
    max-width: 50%;
}

.exclusives img {
    min-width: 100%;
}

.exclusives h2 {
    margin-bottom: -15px;
}

.games-mbl {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.feat-txt {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.email-mbl, .specs-mbl {
    background: white;
    background: rgb(8,52,165);
    background: linear-gradient(0deg, rgba(8,52,165,1) 0%, rgba(10,44,190,1) 19%, rgba(21,108,236,1) 42%, rgba(36,155,238,1) 65%);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

@media only screen and (min-width: 460px) {
    .square-mbl {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 730px) {
    .square-mbl {
        display: none;
      }

      div.buttons {
          display: initial;
      }

      .big-text {
          margin-top: -100px;
          font-size: 4.5rem;
      }

      svg {
        max-width: 100px;
    }

    h1 {
        font-size: 5rem;
    }
    
    h2.subtitle {
        font-size: 1.8rem;
    }

    .cd-container img {
        margin-top: -100px;
        max-width: 730px;
    }

    .countdown-el span {
        font-size: 2.5rem;
    }
    .spec-info {
        display: flex;
    }

    ul {
        font-size: 1rem;
        padding: 0px 20px;
    }

    .spec-info img {
        max-width: 300px; 
        max-height: 376px;
        margin: 0;
    }

    h3 {
        font-size: 1.5rem;
    }

  }